{% extends 'registration/base.html'%} 
{% load static %}

{% block title %} 
Set New Password
{% endblock %}

{% block content %} 

<div class="card-body w-25 m-auto card mt-5">
	<h3 class="card-title text-center">Reset password</h3>
	
	<div class="card-text justify-content-center align-items-center">
		<form  method="POST" >
			{% csrf_token %}
			<input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
			<div class="form-group mt-3">
				<label for="">New Password</label>
				<input name="new_password1" type="password" class="form-control form-control mt-3" placeholder="Enter New Password" required="true">
			</div>
			{% if form.new_password1.errors %}
				<div class="alert alert-danger pb-0 mt-2">
				{% for error in form.new_password1.errors %}
					<li class="alert-danger">{{ error }}</li>    
				{% endfor %}
				</div>
			{% endif %}

			<div class="form-group mt-3">
				<label for="">Confirm Password</label>
				<input name="new_password2" type="password" class="form-control form-control mt-3" placeholder="Confirm your Password" required="true">
			</div>
			{% if form.new_password2.errors %}
				<div class="alert alert-danger pb-0 mt-2">
				{% for error in form.new_password2.errors %}
					<li class="alert-danger">{{ error }}</li>    
				{% endfor %}
				</div>
			{% endif %}
			<button type="submit" class="mt-4 btn btn-primary btn-block w-100">Change Password</button>
		</form>
	</div>
</div>

{% endblock %}